{% assign cansatinfo = site.data.data.cansatinfo %}
{% if cansatinfo %}
<section class="section cansatinfo-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ cansatinfo.title }}
  </h2>
  
  <div class="summary">
    {{ cansatinfo.summary | markdownify }}
  </div><!--//summary-->


    <img src="https://raw.githubusercontent.com/JKinch/DigitalResume/master/assets/images/Deployed.png" 
    alt="Skyfire Cansat in it's deployed state." width="200"/> <img src="https://raw.githubusercontent.com/JKinch/DigitalResume/master/assets/images/Contained.png" 
    alt="Skyfire Cansat in it's deployed state." width="200"/>

    
</section><!--//section-->
{% endif %}
